<div class="card-trip mt-4 mr-4">
  <% if listing.photos.attached? %>
    <%= cl_image_tag listing.photos.last.key, height: 300, width: 400, crop: :fill %>
  <% else %>
    <img src="<%= image_path("6.jpg")%>" />
  <% end %>
  <div class="card-trip-infos">
    <div>
      <h2><%= listing.vehicle_name%></h2>
      <p><%= listing.description.truncate(30)%></p>
    </div>
    <h2 class="card-trip-pricing">$<%= listing.price%></h2>
    <img src="https://avatars.dicebear.com/api/human/<%=listing.user.first_name%>.svg" class="card-trip-user avatar-bordered" />
  </div>
</div>
