
<div class="d-flex justify-content-center align-items-center h-100 form-wrapper ">
  <div class="row form-height">
    <div class="col-12 d-flex flex-column justify-content-center align-items-center">
      <h2>New listing</h2>
      <%= simple_form_for(@listing) do |f| %>
      <div class="row d-flex p-3">
        <div class="col-6">
          <%= f.input :vehicle_name %>
          <%= f.input :description %>
          <%= f.input :location %>
        </div>
        <div class="col-6">
          <%= f.input :capacity %>
          <%= f.input :price %>
          <%= f.input :photos, as: :file, input_html: { multiple: true } %>
          <div class="form-actions text-center">
            <%= f.button :submit, "Add listing", class: 'btn btn-dark' %>
          </div>
        </div>
      </div>
      <% end %>
    </div>
  </div>
</div>
