<%= simple_form_for(@listing) do |f| %>
  <div class="d-flex justify-content-center ">
    <div class="form-inputs">
      <%= f.label :vehicle_name, class: "form-row" %>
      <%= f.text_field :vehicle_name %>
      <%= f.label :description, class: "form-row" %>
      <%= f.text_field :description %>
      <%= f.label :location, class: "form-row" %>
      <%= f.text_field :location %>
      <%= f.label :capacity, class: "form-row" %>
      <%= f.text_field :capacity %>
      <%= f.label :price, class: "form-row" %>
      <%= f.number_field :price %>
    </div>
      <div class="form-actions text-center">
        <%= f.submit %>
      </div>
  </div>
<% end %>
