<div class="container">
  <div class="form-height">
    <div class="form-container">
      <h1>Forgot your <br>
        password?</h1>
      <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= f.error_notification %>
        <div class="form-inputs">
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" } %>
        </div>
        <div class="form-actions text-center">
          <%= f.button :submit, "Reset", class: 'btn btn-dark' %>
        </div>
      <% end %>
      <div class="form-links">
        <%= render "devise/shared/links" %>
      </div>
    </div>
    <div class="form-img">
      <div>
        <h2>JOIN US NOW!</h2>
        <p>Best community of <strong>RV</strong> owners</p>
      </div>
    </div>
  </div>
</div>
