<div class="container wrapper">
  <div class="left">
    <h1>Bookings</h1>
    <% @bookings.each do |booking| %>
      <% if current_user == booking.user || current_user == booking.listing.user %>
        <tr>
          <td><%= booking.user.first_name %></td>
          <td><strong>€<%= booking.total_price %></strong></td>
          <td><%= link_to "delete", booking_path(booking), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: 'delete' %></td>
        </tr>
      </div>
    <% end %>
  <% end %>
</div>
<div class="right">
  <h1>Listings</h1>
  <% @listings.each do |listing| %>
    <% if current_user == listing.user%>
      <tr>
        <td><%= listing.vehicle_name %></td>
        <td><strong>€<%= listing.price %></strong></td>
        <td><%= link_to "Show", listing_path(listing) %></td>
        <td><%= link_to "delete", listing_path(listing), method: :delete, data: { confirm: "Are you sure you want to delete?" }, class: 'delete' %></td>
      </tr>
    </div>
  <% end %>
<% end %>
</div>
</div>
